/* remove default values*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* style for base.html */
body {
    font-family: 'Red Hat Display', serif;
    color: #082C16;
    background-color: #FFFFFF;
}

.navbar {
    background-color: #FBAFAF;
    height: 150px;
}


/* styling for logo in navbar */
.logo-container {
    width: 140px; 
    height: 140px; 
    border-radius: 50%; 
    overflow: hidden; 
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-image {
    width: 100%; 
    height: auto; 
  }


/* footer in base.html*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FBAFAF; 
    height: 50px; 
    color: #082C16;
    text-align: center;
}

.footer {
    background-color: #FBAFAF;
    height: 150px;
}

.footer-icon {
    padding: 10px;
    padding-top: 2rem;
}

.fa-brands {
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
}

#copyright p {
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
}


/* about section on homepage*/
.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* food and drinks menu with categories */
.container {
    max-width: 900px;
    margin: 50px auto; 
    padding-bottom: 6rem; 
}

.row {
    text-align: center;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 15px;
    font-size: 24px;
}


/* styling for contact page */
.section-title {
    color: #FBAFAF;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-body h4 {
    color: #FBAFAF;
    font-size: 24px;
    margin-bottom: 10px;
}

.card-body p {
    color: #082C16;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.google-map {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; 
    height: 0;
}

.google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/* styling for table booking, login and register form */
.container {
    padding-top: 50px; 
    padding-bottom: 150px; 
}

.card {
    border: 2px solid #FBAFAF; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-body {
    padding: 2rem;
}

.form-control {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #FBAFAF;
    border-color: #FBAFAF;
    color: #082C16;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

/* additional styling for the register form*/
#id_username, #id_password1, #id_password2 {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}


/* styling for the logged out successfully page */
.logout {
    text-align: center;
    margin-top: 100px; 
}

h1 {
    color: #FBAFAF;
    font-size: 36px;
    margin-bottom: 10px; 
}

p {
    font-size: 18px;
    color: #555
}


/* styling for list of booking items */
.booking-container {
    max-width: 900px;
    margin: 50px auto;
    padding-bottom: 6rem;
    overflow-y: auto; 
    max-height: calc(100vh - 200px); 
}

.booking-container h1 {
    color: #FBAFAF;
    font-size: 36px;
    margin-bottom: 30px;
}

.booking-list {
    padding-left: 0;
    list-style: none;
}

.booking-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 15px;
    border: 2px solid #FBAFAF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    position: relative; 
}

.booking-details strong {
    color: #082C16;
}


/* styling for the edit and delete button */
.edit-form,
.delete-form {
    display: flex; 
    align-items: center; 
}

.edit-form button[type="submit"],
.delete-form button[type="submit"] {
    background-color: #FBAFAF;
    border-color: #FBAFAF;
    color: #082C16;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px; 
}

.edit-form button[type="submit"]:hover,
.delete-form button[type="submit"]:hover {
    background-color: #082C16;
    color: #FBAFAF;
}

/* styling for add booking button */
.add-booking-link {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.add-booking-link a {
    background-color: #FBAFAF;
    border-color: #FBAFAF;
    color: #082C16;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block; 
}

.add-booking-link a:hover {
    background-color: #082C16;
    color: #FBAFAF;
}


/* styling for booking successfully updated page */
.booking-updated {
    margin-top: 50px;
    text-align: center;
}

.booking-updated .alert {
    background-color: #D4EDDA;
    color: #155724;
    border-color: #C3E6CB;
    padding: 15px;
    border-radius: 5px;
}

.booking-updated a.btn {
    background-color: #FBAFAF;
    border-color: #FBAFAF;
    color: #082C16;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

.booking-updated a.btn:hover {
    background-color: #082C16;
    color: #FBAFAF;
}


/* styling for booking delete confirmation */
.confirm-delete-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #FBAFAF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    text-align: center;
}

.confirm-delete-container p {
    font-size: 18px;
    color: #082C16;
    margin-bottom: 20px;
}

.confirm-delete-container button[type="submit"] {
    background-color: #FBAFAF;
    color: #082C16;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.confirm-delete-container button[type="submit"]:hover {
    background-color: #082C16;
    color: #FBAFAF;
}

.confirm-delete-container a {
    background-color: transparent;
    color: #FBAFAF;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

.confirm-delete-container a:hover {
    background-color: #FBAFAF;
    color: #082C16;
}


/* styling for success page after booking deletion*/
.booking-deleted-container {
    text-align: center;
    padding: 20px;
    border: 2px solid #FBAFAF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}

.success-message {
    font-size: 24px;
    color: #155724;
    margin-bottom: 20px;
}

.custom-link {
    background-color: #FBAFAF;
    border-color: #FBAFAF;
    color: #082C16;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
}

.custom-link:hover {
    background-color: #082C16;
    color: #FBAFAF;
}


/* for medium screen sizes from 620px and down */
@media screen and (max-width: 620px) {

    .navbar-collapse {
        background-color: #FBAFAF;
    }

    .navbar-nav .nav-link {
        font-size: 14px; 
        padding: 2px;
    }

    .category {
        flex-basis: 100%;
    }

    .booking-container h1 {
        font-size: 24px; 
    }

    .booking-item {
        padding: 10px; 
    }

    .booking-details {
        font-size: 14px; 
    }

    .edit-form button[type="submit"],
    .delete-form button[type="submit"] {
        padding: 8px 16px; 
        font-size: 14px; 
    }

    .confirm-delete-container {
        padding: 15px;
    }

    .confirm-delete-container p {
        font-size: 16px;
    }

    .confirm-delete-container button[type="submit"],
    .confirm-delete-container a {
        width: 100%; 
    }

    .add-booking-link {
        margin-top: 20px; 
    }

    .add-booking-link a {
        padding: 8px 16px; 
        font-size: 14px; 
    }
}


/* for small screen sizes from 995px and down */
@media screen and (max-width: 995px) {

    .navbar-collapse {
        background-color: #FBAFAF;
    }

    .navbar-nav .nav-link {
        font-size: 14px; 
        padding: 2px;
    }

    .about {
        top: 50%;
        overflow: auto;
    }

    .about h1 {
        font-size: 20px;
        font-weight: 15px;
    }

    .about p {
        font-size: 15px;
    }

    .card {
        margin-top: 20px;
    }

    /* media queries for logout.html h1 and p */
    h1 {
        font-size: 28px; 
    }
    p {
        font-size: 16px; 
    }

    .booking-container {
        padding-top: 30px;
        padding-bottom: 80px;
    }
    
    .booking-container h1 {
        font-size: 28px;
    }

    .logo-container {
        width: 80px; 
        height: 80px;
      }
    
    .booking-updated {
        margin-top: 30px;
    }

    .booking-updated a.btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .success-message {
        font-size: 20px;
    }

    .custom-link {
        padding: 8px 16px;
        font-size: 14px;
    }

    .booking-deleted-container {
        max-width: 90%; 
    }

    .section-title {
        font-size: 28px;
    }

    .card {
        margin-top: 10px;
    }

    .card-body h4 {
        font-size: 20px;
    }

    .card-body p {
        font-size: 14px; 
    }

    .row>* {
        margin-bottom: 25px;
    }
}




