/* remove default values*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* style for base.html */
body {
    font-family: 'Red Hat Display', serif;
    color: #082C16;
    background-color: #FFFFFF;
}

.navbar {
    background-color: #FBAFAF;
    height: 150px;
}

/* footer in base.html*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FBAFAF; 
    height: 50px; 
    color: #082C16;
    text-align: center;
}

.footer {
    background-color: #FBAFAF;
    height: 150px;
}

.footer-icon {
    padding: 10px;
    padding-top: 2rem;
}

.fa-brands {
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
}

#copyright p {
    font-size: 1.2em;
    font-weight: 400;
    padding: 5px;
}

/* about section on homepage*/
.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* food menu with categories */
.container {
    max-width: 900px;
    margin: 50px auto; 
    padding-bottom: 6rem; 
}

.row {
    text-align: center;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 15px;
    font-size: 24px;
}




/* for medium screen sizes from 620px and down */
@media screen and (max-width: 620px) {

    .navbar-nav .nav-link {
        font-size: 14px; 
        padding: 2px;
    }

    .category {
        flex-basis: 100%; /* Full width on smaller screens */
    }
}

/* for small screen sizes from 995px and down */
@media screen and (max-width: 995px) {

    .navbar-nav .nav-link {
        font-size: 14px; 
        padding: 2px;
    }

    .about {
        top: 50%;
        overflow: auto;
    }

    .about h1 {
        font-size: 20px;
        font-weight: 15px;
    }

    .about p {
        font-size: 15px;
    }

}