{% extends "base.html" %}
{% block title %}Your Bookings AMORE{% endblock %}

{% block content %}
<div class="booking-container">
    <h1>Your Bookings:</h1>
    <ul class="booking-list">
        {% for booking in user_bookings %}
            <li class="booking-item">
                <div class="booking-details">
                    <strong>Date:</strong> {{ booking.date }}<br>
                    <strong>Time:</strong> {{ booking.time }}<br>
                    <strong>Number of People:</strong> {{ booking.num_people }}<br>
                </div>
                <form method="post" action="{% url 'bookings:edit_booking' booking.id %}" class="edit-form">
                    {% csrf_token %}
                    <button type="submit">Edit Booking</button>
                </form>
                <form method="post" action="{% url 'bookings:confirm_delete' booking.id %}" class="delete-form">
                    {% csrf_token %}
                    <button type="submit">Delete Booking</button>
                </form>
            </li>
        {% empty %}
            <li class="no-booking">No bookings found.</li>
        {% endfor %}
    </ul>
    <div class="add-booking-link">
        <a href="{% url 'bookings:table_bookings' %}">Add new Table Booking</a>
    </div>
</div>
{% endblock %}
