{% extends 'base.html' %}
{% block title %}Contact{% endblock %}

<!-- Contact page with all contact details -->
{% block content %}
<div class="contact-menu container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="menu-card">
                <div class="menu-card-body">
                    <h2 class="menu-card-title text-center mb-4">Find Us Here</h2>
                    <div class="contact-details">
                        <h3 class="category">Location</h3>
                        <p>12 Love Street,<br>Lovecity, 1202</p>

                        <h3 class="category">Phone</h3>
                        <p>+012 1202 1202</p>

                        <h3 class="category">Email</h3>
                        <p>amore@ristorante.it</p>
                    </div>
                    <div class="google-map embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1776.2824980666394!2d11.248151613373054!3d48.077246914366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sde!2sde!4v1712522727251!5m2!1sde!2sde"
                              width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
