{% extends "base.html" %}
{% block title %}Drinks Menu{% endblock %}

<!-- Drinks menu -->
{% block content %}
<div class="-menu container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="menu-card">
                <div class="menu-card-body">
                    <h2 class="menu-card-title text-center mb-4">Drinks</h2>
                    <ul class="menu-list list-unstyled">
                        {% for category in beverage_categories %}
                        <li class="category">
                            <h3>{{ category.name }}</h3>
                            <ul class="category-items list-unstyled">
                                {% for item in category.beverage_items.all %}
                                <li>{{ item.name }} - €{{ item.price }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
